
.hero {
  position: relative;
  background-color: #000;
}

.hero--image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: .5;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-wrapper {
  position: relative;
  z-index: 10;
  max-width: 1288px;
  margin: 0 auto;
  padding: 36px 20px;

  @include bp-min-width($large) {
    padding: $base*4 40px $base*7;
  }
}

.hero--title,
.hero--subtitle,
.hero--content {
  color: #fff;
}

.hero--title {
  @include col-span(8, max-width);
  @include font-size(24px);
  margin-bottom: 12px;
  color: #fff;
  font-weight: $font-weight-bold;

  @include bp-min-width($xsmall) {
    @include font-size(30px);
    margin-bottom: $base;
    line-height: 1;
  }

  @include bp-min-width($large) {
    @include font-size(46px);
    @include line-height(48px)
  }
}

.hero--subtitle {
  @include font-size($title-sm);
  font-family: $font-serif;

  @include bp-max-width($xsmall) {
    @include line-height(22px);
  }

  @include bp-min-width($xsmall) {
    @include font-size(24px);
  }

  @include bp-min-width($large) {
    @include font-size(30px);
  }
}

.hero--description {
  @include col-span(8, max-width);
}

.hero--description p {
  font-family: $font-serif;
  color: #fff;

  @include bp-max-width($small) {
    @include line-height(22px);
  }

  @include bp-min-width($small) {
    @include font-size(18px);
  }
}

.hero--post-category {
  @include font-size(17px);
  color: #fff;
  font-weight: $font-weight-medium;
}

.hero--post-category a {
  color: #fff;
}
