
.post-list--item {
  position: relative;
  margin-bottom: $base;

  @include bp-min-width($tiny) {
    padding-left: 158px;
  }

  @include bp-min-width($medium) {
    min-height: 193px;
    padding-left: 306px;
  }

  @include bp-min-width($large) {
    margin-bottom: $base*2;
  }
}

.post-list--thumb {
  @include bp-max-width($tiny) {
    width: 80px;
    float: right;
    margin-left: 6px;
    margin-bottom: 6px;
  }

  @include bp-min-width($tiny) {
    position: absolute;
    top: 0;
    left: 0;
    width: 140px;
  }

  @include bp-min-width($medium) {
    width: 276px;
  }
}

.post-list--category {
  @include font-size(15px);
  margin-bottom: 4px;
  font-weight: $font-weight-medium;

  @include bp-min-width($medium) {
    @include font-size(17px);
    padding-top: 4px;
  }
}

.post-list--title {
  @include font-size($title-sm);
  margin-bottom: 6px;
  font-weight: $font-weight-bold;

  @include bp-min-width($small) {
    @include font-size(24px);
  }

  @include bp-min-width($medium) {
    @include font-size(32px);
  }
}

.post-list--meta {
  @include font-size(15px);
  font-weight: $font-weight-medium;

  @include bp-min-width($medium) {
    @include font-size(19px);
  }
}

