
.post-grid {
  @include cf;
}

.post-grid .col {
  @include bp-min-max($medium, $large) {
    margin-bottom: $base;
  }
}

.post-grid .col:last-child {
  @include bp-min-max($medium, $large) {
    margin: 0 auto;
  }
}

.post-grid--item {
  position: relative;
}

.post-grid--link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  background: rgba(#000, 0.5);
  color: #fff;
}

.post-grid--link:hover {
  background: rgba(#000, 0.3);
  color: #fff;
}

.post-grid--info {
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 20px;
}

.post-grid--title {
  @include font-size($title-sm);
  margin-bottom: 6px;
  font-weight: $font-weight-bold;

  @include bp-min-max($small, $medium) {
    @include font-size(24px);
  }

  @include bp-min-width($medium) {
    @include font-size(24px);
  }
}

.post-grid--meta {
  @include font-size(15px);
  font-weight: $font-weight-medium;

  @include bp-min-width($medium) {
    @include font-size(17px);
  }
}

