
$blue:     #1e3b69;
$lt-blue:  #00bafa;

$red:      #ee514e;
$dk-red:   #b61f1d;


$black:     #363636;

$green:     #33ba9e;

$xlt-grey:  #f9f9f9;
$lt-grey:   #f3f3f3;
$grey:      #e8e7e7;
$dk-grey:   #4a4a4a;
