
$font-sans:  'freight-sans-pro', Helvetica, arial, sans-serif;
$font-serif: 'freight-text-pro', Georgia, serif;

$font-weight-regular: 400;
$font-weight-medium:  500;
$font-weight-bold:    700;

$base:  24px;

$title-xlg: 46px;
$title-lg:  32px;
$title-md:  24px;
$title-sm:  19px;

/*
h1: 46px
h2: 32px
h3: 24px

subtitle: 30px

p: 18px
meta: 17px
*/

body {
  font: $font-weight-regular 1em/1.5em $font-sans;
  color: $dk-grey;
}

h1,h2,h3,h4,h5 {
  line-height: 1;
}

h4, h5 {
  @include font-size(17px);
}

strong {
  font-weight: $font-weight-bold;
}

em {
  font-style: italic;
}

.label {
  font-weight: $font-weight-bold;
}

.page-title {
  @include col-span(8, max-width);
  @include font-size(24px);
  margin-bottom: 12px;
  color: $blue;
  font-weight: $font-weight-bold;

  @include bp-min-width($xsmall) {
    @include font-size(30px);
    margin-bottom: $base;
    line-height: 1;
  }

  @include bp-min-width($large) {
    @include font-size(46px);
    @include line-height(48px)
  }
}

.body-content p,
.body-content ul,
.body-content ol {
  @include font-size(16px);
  margin-bottom: 1em;
  font-family: $font-serif;

  @include bp-max-width($medium) {
    @include line-height(22px);
  }

  @include bp-min-width($medium) {
    @include font-size(18px);
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.body-content ul,
.body-content ol {
  margin-left: 1.5em;
}

.body-content ul li {
  list-style: disc;
}

.body-content ol li {
  list-style: decimal;
}

.body-content h2 {
  @include font-size($title-sm);
  @include line-height(22px);
  margin-bottom: 6px;
  color: $blue;
  font-weight: $font-weight-bold;

  @include bp-min-width($medium) {
    @include font-size(24px);
    @include line-height(30px);
  }
}

.body-content p + h2 {
  padding-top: 12px;
}

.body-content h3,
.body-content h4 {
  @include font-size($title-sm);
  margin-bottom: 4px;
  color: $blue;
  font-weight: $font-weight-bold;

  @include bp-max-width($medium) {
    @include line-height(22px);
  }
}

.body-content h3 {
  margin-bottom: 4px;
}

blockquote {
  margin-bottom: $base;
  padding: 0 12px 6px 12px;
  border-left: 6px solid $lt-blue;

  @include bp-min-width($medium) {
    padding: 0 24px 6px 24px;
  }
}

.body-content blockquote p {
  @include font-size(19px);
  font-family: $font-sans;
  font-style: italic;

  @include bp-min-width($medium) {
    @include font-size(32px);
    @include line-height(36px);
  }
}

.body-content figure {
  margin-bottom: $base;
}
