
.main-archives {
  text-align: center;
  
  h3 {
    @include font-size(30px);
    padding-bottom: $base;
    border-bottom: 2px solid $lt-grey;
  }
  
  ul {
    margin-bottom: $base*2;
  }
  
  li {
    @include font-size(18px);
    @include line-height(32px);
  }
}