
.post--content {
  @include bp-min-width($small) {
    padding-left: 102px;
  }

  @include bp-min-width($large) {
    width: 100%;
    padding-right: 310px;
  }
}

.post--meta {
  @include font-size(15px);
  font-weight: $font-weight-medium;

  @include bp-min-width($large) {
    @include font-size(18px);
    margin-bottom: 6px;
  }
}

.post--title {
  @include font-size(24px);
  color: #fff;
  font-weight: $font-weight-bold;

  @include bp-min-width($large) {
    @include font-size(46px);
    @include line-height(48px)
  }
}

.post figure {
  position: relative;
  margin-bottom: 2em;
}

.post figcaption {
  padding-top: 12px;
}

.post-nav {
  @include font-size(18px);
  padding: 18px 0;
  text-align: center;

  @include bp-min-width($large) {
    @include font-size(21px);
  }
}

.post--share {
  @include cf;
  float: right;
  width: 40px;
  margin-left: 12px;
  margin-bottom: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
  background: $blue;
  text-align: center;


  @include bp-min-width($small) {
    position: absolute;
    top: 0;
    left: 0;
    width: 68px;
    padding-top: $base;
    padding-bottom: $base;
  }
}

.post--share-link {
  display: block;
  width: 100%;
}

.post--share-link:not(:last-child) {
  margin-bottom: 12px;
}

.post--share-icon {
  display: inline-block;
  vertical-align: middle;
  fill: #fff;
}

.post--share .icon-facebook {
  width: 10px;
  height: 20px;
}

.post--share .icon-twitter {
  width: 20px;
  height: 16px;
}

.post--share .icon-linkedin {
  width: 20px;
  height: 20px;
}

.post--share .icon-email {
  width: 20px;
  height: 15px;
}


