
.post--meta {
  @include font-size(18px);
  margin-bottom: 6px;
  font-weight: $font-weight-medium;
}

.post--title {
  @include font-size(24px);
  color: #fff;
  font-weight: $font-weight-bold;

  @include bp-min-width($large) {
    @include font-size(46px);
  }
}

.post figure {
  position: relative;
  margin-bottom: 2em;
}

.post figcaption {
  padding-top: 12px;
}

.post-nav {
  @include font-size(18px);
  padding: 18px 0;
  text-align: center;

  @include bp-min-width($large) {
    @include font-size(21px);
  }
}

.post--content {
  @include cf;

  @include bp-min-width($small) {
    position: relative;
    padding-right: 162px;
  }
}

.post--share {
  @include cf;
  margin-bottom: $base;
  border-top: 1px solid $lt-grey;
  border-bottom: 1px solid $lt-grey;

  @include bp-min-width($small) {
    position: absolute;
    top: 0;
    right: 0;
    width: 122px;
  }
}

.post--share a {
  display: block;
  padding: 12px 0;
  color: $dk-grey;

  @include bp-max-width($small+1) {
    float: left;
    margin-right: 10px;
  }

  @include bp-min-width($small) {
    border-bottom: 1px solid $lt-grey;
  }

  &:hover {
    color: $green;
  }

  &:hover svg {
    fill: $green;
  }
}

.post--share-icon {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  margin-right: 8px;
  fill: $dk-grey;
}

