
.home-hero {
  text-align: center;
}

.home-hero--title {
  @include bp-min-width($medium) {
    @include font-size(50px);
  }
}

.home-hero--title.hero--title {
  max-width: none;
}

.mortgage-101 {
  margin-bottom: $base*2;
}